rodski/schemas/data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:annotation>
    <xs:documentation>
      RodSki Data XML Schema - 数据表定义规范
      每个数据 XML 文件对应原 Excel 中的一个数据表 Sheet。
      数据文件存放在测试模块的 data/ 目录下。
      文件名 = 数据表名（如 Login.xml、Login_verify.xml、QuerySQL.xml）。

      核心约束：
      1. datatable 的 name 属性必须与文件名一致（不含 .xml 后缀）
      2. 每个 row 必须有唯一的 id（即 DataID）
      3. field 的 name 必须与 model.xml 中的 element name 一致
      4. verify 数据表文件名格式：{模型名}_verify.xml
    </xs:documentation>
  </xs:annotation>

  <!-- 根元素 -->
  <xs:element name="datatable">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="row" type="RowType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:unique name="uniqueDataID">
      <xs:selector xpath="row"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:element>

  <!-- 数据行类型 -->
  <xs:complexType name="RowType">
    <xs:sequence>
      <xs:element name="field" type="FieldType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="remark" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- 数据字段类型 -->
  <xs:complexType name="FieldType" mixed="true">
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

</xs:schema>
