rodski/schemas/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:annotation>
    <xs:documentation>
      RodSki Model XML Schema - 模型定义规范
      模型文件定义页面元素/接口字段的定位信息。
      模型文件存放在测试模块的 model/ 目录下，文件名为 model.xml。

      核心约束：
      1. element 的 name 属性必须与数据表中的 field name 完全一致（区分大小写）
      2. model 的 name 属性 = 数据表文件名（强制一致）
      3. 接口模型中 _method/_url/_header_* 为保留元素名
      4. 支持完整格式（带 location 子节点）和简化格式（type+value 属性）
      5. 支持多定位器格式，按 priority 依次尝试，失败自动切换
    </xs:documentation>
  </xs:annotation>

  <!-- 根元素 -->
  <xs:element name="models">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="model" type="ModelType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- 模型类型 -->
  <xs:complexType name="ModelType">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="element" type="ElementType"/>
        <xs:element name="auto_capture" type="AutoCaptureType"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="servicename" type="xs:string" use="optional" default=""/>
  </xs:complexType>

  <!-- 自动返回值提取 -->
  <xs:complexType name="AutoCaptureType">
    <xs:sequence>
      <xs:element name="field" type="AutoCaptureFieldType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="trigger" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="type"/>
          <xs:enumeration value="send"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="AutoCaptureFieldType">
    <xs:sequence>
      <xs:element name="location" type="LocationType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="path" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- 元素类型 - 支持完整格式和简化格式 -->
  <xs:complexType name="ElementType">
    <xs:sequence>
      <xs:element name="type" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="location" type="LocationType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="assertion" type="AssertionDetailType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="desc" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="type" type="DriverType" use="optional"/>
    <xs:attribute name="value" type="xs:string" use="optional"/>
    <xs:attribute name="locator" type="xs:string" use="optional"/>
    <xs:attribute name="desc" type="xs:string" use="optional"/>
    <xs:attribute name="interfacename" type="xs:string" use="optional" default=""/>
    <xs:attribute name="group" type="xs:string" use="optional" default=""/>
  </xs:complexType>

  <!-- 定位信息类型（支持 priority 属性用于多定位器） -->
  <xs:complexType name="LocationType" mixed="true">
    <xs:attribute name="type" type="LocatorType" use="required"/>
    <xs:attribute name="item" type="xs:string" use="optional" default=""/>
    <xs:attribute name="priority" type="xs:positiveInteger" use="optional" default="1"/>
  </xs:complexType>

  <!-- 驱动类型枚举 -->
  <xs:simpleType name="DriverType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="web"/>
      <xs:enumeration value="interface"/>
      <xs:enumeration value="other"/>
      <!-- 简化格式中 type 也可以是定位类型 -->
      <xs:enumeration value="id"/>
      <xs:enumeration value="class"/>
      <xs:enumeration value="css"/>
      <xs:enumeration value="xpath"/>
      <xs:enumeration value="text"/>
      <xs:enumeration value="tag"/>
      <xs:enumeration value="name"/>
      <xs:enumeration value="static"/>
      <xs:enumeration value="field"/>
      <!-- 桌面平台驱动类型 -->
      <xs:enumeration value="windows"/>
      <xs:enumeration value="macos"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- 定位类型枚举 -->
  <xs:simpleType name="LocatorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="id"/>
      <xs:enumeration value="class"/>
      <xs:enumeration value="css"/>
      <xs:enumeration value="xpath"/>
      <xs:enumeration value="text"/>
      <xs:enumeration value="tag"/>
      <xs:enumeration value="name"/>
      <xs:enumeration value="static"/>
      <xs:enumeration value="field"/>
      <!-- 视觉定位类型 -->
      <xs:enumeration value="vision"/>
      <xs:enumeration value="ocr"/>
      <xs:enumeration value="vision_bbox"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ── 视觉断言类型（Phase 1: 图片断言） ──────────────────────── -->

  <!-- 断言类型枚举 -->
  <xs:simpleType name="AssertionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="image"/>
      <xs:enumeration value="video"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- 断言范围枚举（仅 image 生效） -->
  <xs:simpleType name="AssertionScope">
    <xs:restriction base="xs:string">
      <xs:enumeration value="full"/>
      <xs:enumeration value="element"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- 视频帧位置枚举 -->
  <xs:simpleType name="VideoPosition">
    <xs:restriction base="xs:string">
      <xs:enumeration value="any"/>
      <xs:enumeration value="start"/>
      <xs:enumeration value="end"/>
      <xs:enumeration value="middle"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- 断言详情类型（图片/视频通用参数） -->
  <xs:complexType name="AssertionDetailType">
    <xs:attribute name="type" type="AssertionType" use="required"/>
    <xs:attribute name="reference" type="xs:string" use="required"/>
    <xs:attribute name="threshold" type="xs:float" use="optional" default="0.8"/>
    <xs:attribute name="scope" type="AssertionScope" use="optional" default="full"/>
    <xs:attribute name="wait" type="xs:int" use="optional" default="0"/>
    <xs:attribute name="element_bbox" type="xs:string" use="optional" default=""/>
    <xs:attribute name="video_source" type="xs:string" use="optional" default="recording"/>
    <xs:attribute name="time_range" type="xs:string" use="optional" default=""/>
    <xs:attribute name="position" type="VideoPosition" use="optional" default="any"/>
  </xs:complexType>

  <!-- 图片断言元素类型（嵌套在 element 内） -->
  <xs:complexType name="AssertionElementType">
    <xs:sequence>
      <xs:element name="assertion" type="AssertionDetailType" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
