rodski/schemas/result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:annotation>
    <xs:documentation>
      RodSki Result XML Schema - 测试结果报告规范
      结果文件对应原 Excel 中的 TestResult + TestSummary Sheet。
      文件存放在测试模块的 result/ 目录下。
      
      Iteration-04 新增: diagnosis / recovery 节点用于异常诊断与智能恢复。
    </xs:documentation>
  </xs:annotation>

  <!-- 根元素 -->
  <xs:element name="testresult">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="summary" type="SummaryType" minOccurs="1" maxOccurs="1"/>
        <xs:element name="results" type="ResultsType" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- 统计摘要类型 -->
  <xs:complexType name="SummaryType">
    <xs:attribute name="total" type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="passed" type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="failed" type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="skipped" type="xs:nonNegativeInteger" use="optional" default="0"/>
    <xs:attribute name="errors" type="xs:nonNegativeInteger" use="optional" default="0"/>
    <xs:attribute name="pass_rate" type="xs:string" use="optional"/>
    <xs:attribute name="total_time" type="xs:string" use="optional"/>
    <xs:attribute name="average_time" type="xs:string" use="optional"/>
    <xs:attribute name="start_time" type="xs:string" use="optional"/>
    <xs:attribute name="end_time" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- 结果集合类型 -->
  <xs:complexType name="ResultsType">
    <xs:sequence>
      <xs:element name="result" type="ResultType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- 单条结果类型 -->
  <xs:complexType name="ResultType">
    <xs:sequence>
      <xs:element name="step" type="StepType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="diagnosis" type="DiagnosisType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="recovery" type="RecoveryType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="case_id" type="xs:string" use="required"/>
    <xs:attribute name="title" type="xs:string" use="optional"/>
    <xs:attribute name="status" type="StatusType" use="required"/>
    <xs:attribute name="execution_time" type="xs:string" use="optional"/>
    <xs:attribute name="retries" type="xs:nonNegativeInteger" use="optional" default="0"/>
    <xs:attribute name="start_time" type="xs:string" use="optional"/>
    <xs:attribute name="end_time" type="xs:string" use="optional"/>
    <xs:attribute name="error_type" type="xs:string" use="optional"/>
    <xs:attribute name="error_message" type="xs:string" use="optional"/>
    <xs:attribute name="screenshot_path" type="xs:string" use="optional"/>
    <xs:attribute name="updated_at" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- 步骤结果类型 -->
  <xs:complexType name="StepType">
    <xs:sequence>
      <xs:element name="step_metadata" type="StepMetadataType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="failure_context" type="FailureContextType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="action" type="xs:string" use="required"/>
    <xs:attribute name="start_time" type="xs:string" use="optional"/>
    <xs:attribute name="end_time" type="xs:string" use="optional"/>
    <xs:attribute name="duration_ms" type="xs:double" use="optional"/>
    <xs:attribute name="attempt" type="xs:nonNegativeInteger" use="optional" default="1"/>
    <xs:attribute name="status" type="StatusType" use="optional"/>
  </xs:complexType>

  <!-- 步骤元数据类型 -->
  <xs:complexType name="StepMetadataType">
    <xs:attribute name="browser" type="xs:string" use="optional"/>
    <xs:attribute name="viewport" type="xs:string" use="optional"/>
    <xs:attribute name="url" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- 失败上下文类型 -->
  <xs:complexType name="FailureContextType">
    <xs:attribute name="page_source_snapshot" type="xs:string" use="optional"/>
    <xs:attribute name="console_logs" type="xs:string" use="optional"/>
    <xs:attribute name="network_requests" type="xs:string" use="optional"/>
    <xs:attribute name="variable_snapshot" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- 诊断信息类型 (Iteration-04) -->
  <xs:complexType name="DiagnosisType">
    <xs:attribute name="failure_point" type="xs:string" use="optional"/>
    <xs:attribute name="failure_reason" type="xs:string" use="optional"/>
    <xs:attribute name="visual_analysis" type="xs:string" use="optional"/>
    <xs:attribute name="suggestion" type="xs:string" use="optional"/>
    <xs:attribute name="recovery_action" type="xs:string" use="optional"/>
    <xs:attribute name="recovery_data" type="xs:string" use="optional"/>
    <xs:attribute name="ai_model" type="xs:string" use="optional"/>
    <xs:attribute name="diagnosis_time_ms" type="xs:double" use="optional" default="0"/>
  </xs:complexType>

  <!-- 恢复信息类型 (Iteration-04) -->
  <xs:complexType name="RecoveryType">
    <xs:sequence>
      <xs:element name="attempt" type="AttemptType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="success" type="xs:boolean" use="required"/>
    <xs:attribute name="attempt_count" type="xs:nonNegativeInteger" use="optional" default="0"/>
    <xs:attribute name="final_error" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- 单次恢复尝试类型 -->
  <xs:complexType name="AttemptType">
    <xs:attribute name="attempt" type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="action" type="xs:string" use="required"/>
    <xs:attribute name="data" type="xs:string" use="optional"/>
    <xs:attribute name="status" type="AttemptStatusType" use="required"/>
    <xs:attribute name="error" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- 恢复尝试状态枚举 -->
  <xs:simpleType name="AttemptStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="success"/>
      <xs:enumeration value="failed"/>
      <xs:enumeration value="error"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- 状态枚举 -->
  <xs:simpleType name="StatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PASS"/>
      <xs:enumeration value="FAIL"/>
      <xs:enumeration value="SKIP"/>
      <xs:enumeration value="ERROR"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
